In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [7]:
df = pd.read_csv("../datascience_programs_list.csv")

In [8]:
print(df.head())

                        Subject Name                       University Name  \
0  Data Science for Business Leaders                               Udacity
1  Data Science MicroMasters Program        edX - online learning platform
2                       Data Science               George Mason University
3     Data Science - Earth Resources              Colorado School of Mines
4                       Data Science  The University of Texas at Arlington

       Per Year Fees                                      About Program  \
0   218 EUR / module  The Data Science for Business Leaders program ...
1   1,163 EUR / full  EdX is an online learning platform trusted by ...
2  20,566 EUR / full  This Data Science Postgrad.Cert. program at Ge...
3  18,484 EUR / year  This Data Science - Earth ResourcesÂ program at...
4  21,669 EUR / year  The Master of Science in Data Science degree p...

  Program Duration               University Location  \
0          1 month                            Online
1        10 months                            Online
2              NaN  Fairfax, Virginia, United States
3              NaN                            Online
4          2 years  Texas City, Texas, United States

                                        Program Name
0                    Pre-Master / Part-time / Online
1                    Pre-Master / Part-time / Online
2  Postgraduate Certificate / Full-time, Part-tim...
3      Postgraduate Certificate / Part-time / Online
4                      M.Sc. / Full-time / On Campus

In [9]:
# Display the summary of the dataframe to understand its columns and data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Subject Name         443 non-null    object
 1   University Name      443 non-null    object
 2   Per Year Fees        436 non-null    object
 3   About Program        443 non-null    object
 4   Program Duration     427 non-null    object
 5   University Location  443 non-null    object
 6   Program Name         443 non-null    object
dtypes: object(7)
memory usage: 24.4+ KB
None

In [11]:
fees_cleaned = df['Per Year Fees'].str.replace(r'[^0-9.]', '', regex=True).astype(float)
df['Per Year Fees Cleaned'] = fees_cleaned

# Group by university and find the minimum fee
affordable_universities = df.groupby('University Name')['Per Year Fees Cleaned'].min().sort_values().head(10)

affordable_universities.to_csv('result.csv')