In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
data = pd.read_csv('../LaLiga_Matches.csv')

In [20]:
data.describe()

               FTHG          FTAG          HTHG          HTAG
count  10883.000000  10883.000000  10881.000000  10881.000000
mean       1.553340      1.116971      0.687713      0.484790
std        1.303854      1.114065      0.840542      0.699772
min        0.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      0.000000      0.000000
50%        1.000000      1.000000      0.000000      0.000000
75%        2.000000      2.000000      1.000000      1.000000
max       10.000000      8.000000      6.000000      6.000000

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10883 entries, 0 to 10882
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    10883 non-null  object
 1   Date      10883 non-null  object
 2   HomeTeam  10883 non-null  object
 3   AwayTeam  10883 non-null  object
 4   FTHG      10883 non-null  int64
 5   FTAG      10883 non-null  int64
 6   FTR       10883 non-null  object
 7   HTHG      10881 non-null  float64
 8   HTAG      10881 non-null  float64
 9   HTR       10881 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 850.4+ KB

In [22]:
data[data.isnull().any(axis=1)]

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
136,1995-96,19-11-1995,Ath Bilbao,La Coruna,1,0,H,NaN,NaN,NaN
1472,1998-99,10-01-1999,Valladolid,Betis,0,3,A,NaN,NaN,NaN

In [23]:
data.loc[136,'HTHG'] = 0
data.loc[1472,'HTHG'] = 0

data.loc[136,'HTAG'] = 0
data.loc[1472,'HTAG'] = 0

data.loc[136,'HTR'] = 'D'
data.loc[1472,'HTR'] = 'D'

In [24]:
data.isnull().values.any()

False

In [25]:
team_list = list(data['HomeTeam'].unique())
team_win_dic = {}

for team in team_list:
    win_cnt = 0
    
    for i in range(len(data)):
        if data['FTR'][i] == 'D' and data['HomeTeam'][i] == team:
            win_cnt += 1
        elif data['FTR'][i] == 'D' and data['AwayTeam'][i] == team:
            win_cnt += 1
               
    team_win_dic[team] = win_cnt
    

teams_win = sorted(team_win_dic.items(), key=lambda team : team[1], reverse=True)
team_win = pd.DataFrame(teams_win, columns=['Team','Number of Draw']).head(20)

In [26]:
team_win.to_csv('result.csv',index=False)