In [20]:
import pandas as pd

# 读取CSV文件
df = pd.read_csv('../data.csv')

In [21]:
df.shape

(34867, 16)

In [22]:
# the last row is null, lets remove it as well
df = df.dropna()
df.tail()

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
2881,2881,1/5/2016,2016.0,January,28.0,M,United Kingdom,England,Accessories,Fenders,2.0,176.00,229.0,352.0,458.0,1971.000000
2882,2882,1/7/2016,2016.0,January,28.0,M,United Kingdom,England,Accessories,Fenders,1.0,506.00,590.0,506.0,590.0,1583.000000
2883,2883,2/20/2016,2016.0,February,28.0,M,United Kingdom,England,Accessories,Fenders,3.0,117.33,159.0,352.0,477.0,1682.000000
2884,2884,2/24/2016,2016.0,February,28.0,M,United Kingdom,England,Accessories,Fenders,1.0,286.00,390.0,286.0,390.0,1568.000000
2935,2935,2/19/2016,2016.0,February,52.0,M,France,Hauts de Seine,Clothing,Jerseys,1.0,1250.00,1644.0,1250.0,1644.0,687.344828

In [23]:
df['Profit'] = df['Revenue'] - df['Cost']
df['Profit Margins'] = round(df['Profit']/df['Revenue'] * 100, 2)
df['Unit Profit']=df['Unit Price']-df['Unit Cost']
df['Unit Profit Margin']= round(df['Unit Profit']/df['Unit Price'] * 100 , 2)
df

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1,Profit,Profit Margins,Unit Profit,Unit Profit Margin
312,312,1/11/2016,2016.0,January,40.0,M,France,Yveline,Bikes,Road Bikes,3.0,567.00,790.0,1701.0,2370.0,2370.000000,669.0,28.23,223.00,28.23
313,313,1/11/2016,2016.0,January,40.0,M,France,Yveline,Accessories,Helmets,2.0,192.50,199.0,385.0,398.0,398.000000,13.0,3.27,6.50,3.27
314,314,1/18/2016,2016.0,January,40.0,M,France,Yveline,Bikes,Mountain Bikes,2.0,1160.00,1511.5,2320.0,3023.0,3023.000000,703.0,23.26,351.50,23.26
315,315,1/18/2016,2016.0,January,40.0,M,France,Yveline,Accessories,Bottles and Cages,2.0,115.00,147.0,230.0,294.0,294.000000,64.0,21.77,32.00,21.77
316,316,1/18/2016,2016.0,January,40.0,M,France,Yveline,Accessories,Bottles and Cages,1.0,140.00,167.0,140.0,167.0,167.000000,27.0,16.17,27.00,16.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2881,2881,1/5/2016,2016.0,January,28.0,M,United Kingdom,England,Accessories,Fenders,2.0,176.00,229.0,352.0,458.0,1971.000000,106.0,23.14,53.00,23.14
2882,2882,1/7/2016,2016.0,January,28.0,M,United Kingdom,England,Accessories,Fenders,1.0,506.00,590.0,506.0,590.0,1583.000000,84.0,14.24,84.00,14.24
2883,2883,2/20/2016,2016.0,February,28.0,M,United Kingdom,England,Accessories,Fenders,3.0,117.33,159.0,352.0,477.0,1682.000000,125.0,26.21,41.67,26.21
2884,2884,2/24/2016,2016.0,February,28.0,M,United Kingdom,England,Accessories,Fenders,1.0,286.00,390.0,286.0,390.0,1568.000000,104.0,26.67,104.00,26.67
2935,2935,2/19/2016,2016.0,February,52.0,M,France,Hauts de Seine,Clothing,Jerseys,1.0,1250.00,1644.0,1250.0,1644.0,687.344828,394.0,23.97,394.00,23.97

In [25]:
# 计算各州在所有年份中的总利润并排序
state_profit = df.groupby(['State'])['Profit'].sum().sort_values(ascending=False)

# 保存各州总利润到CSV文件
state_profit.to_csv('state_profit.csv', header=['Total Profit'])

print("Calculated data and state profit CSV files have been generated successfully.")

Calculated data and state profit CSV files have been generated successfully.